@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --background: #121214;
    --white: black;
    --border-nav: #4c5158;
    --text: white;
    --background-nav: #202024;
    --highlight: #4e84fa;
    --skeleton: rgb(54, 54, 54);
    --anime-position: rgb(185, 185, 185);
    --image: url(./src/assets/White-Mode-Alto.png);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--background-nav);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--text);
    border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: var(--text);
    overflow-x: hidden;
    min-height: calc(100vh - 16px);
}

.toggleMode {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    border: 0;
    cursor: pointer;
    z-index: 2;
    background: none;
}

.toggleMode svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 1px;
    fill: var(--text);
}

.Logout {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    border: 0;
    cursor: pointer;
    z-index: 2;
    background: none;
}

.logoutIcon {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 1px;
    color: var(--text);
}