@font-face {
    font-family: BellotaText;
    src: url(../../public/BellotaText-Regular.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(../../public/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: RegaveDemibold;
    src: url(./RegaveDemibold-nRZrJ.ttf);
}

@font-face {
    font-family: Geneva01;
    src: url(../../public/Geneva01-6YX1M.ttf);
}

@font-face {
    font-family: NewAthleticM54;
    src: url(../../public/NewAthleticM54-31vz.ttf);
}

@font-face {
    font-family: SuperstarM54;
    src: url(../../public/SuperstarM54-Zq6K.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --background: #121214;
    --white: black;
    --border-nav: #4c5158;
    --text: white;
    --background-nav: #202024;
    --highlight: #4e84fa;
    --skeleton: rgb(54, 54, 54);
    --anime-position: rgb(185, 185, 185);
    --image: url(../public/White-Mode-Alto.png);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--background-nav);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--text);
    border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text);
    overflow-x: hidden;
    min-height: calc(100vh - 16px);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.toggleMode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    border: 0;
    cursor: pointer;
    z-index: 2;
    background: none;
}

.toggleMode svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 1px;
    fill: var(--text);
}

.userSettings {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    align-items: center;
}

.userSettings a {
    text-decoration: none;
    color: var(--text);
}

.user {
    width: 2.5rem;
    height: 2.5rem;
    border: 0;
    z-index: 2;
    background: none;
    cursor: pointer;
    color: var(--text);
}

.userIcon {
    width: 1.5rem;
    height: 1.5rem;
}

@keyframes showOptions {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.userSettings .userOptions {
    position: absolute;
    top: 2.7rem;
    left: 1rem;
    width: 10rem;
    background-color: var(--background-nav);
    border: 1px solid var(--border-nav);
    border-radius: 0px 10px 10px;
    z-index: 3;
    animation: showOptions 1s;
}

.userSettings .userOptions ul {
    padding: 0;
    margin: 0;
}

.userSettings .userOptions ul li {
    list-style-type: none;
    padding: 0.3rem 0.8rem;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.userSettings .userOptions ul li .logoutIcon {
    width: 1.2rem;
    height: 1.2rem;
}

.userSettings .userOptions ul li:nth-of-type(1) {
    cursor: auto;
    display: none;
}

.userSettings .userOptions ul li:nth-of-type(2) {
    /* border-top: 1px solid var(--border-nav); */
    border-bottom: 1px solid var(--border-nav);
}

@media (max-width: 570px) {
    .userSettings p {
        display: none;
    }
    .userSettings .userOptions {
        top: 2.2rem;
        font-size: 0.7rem;
        width: 7.5rem;
    }
    .userSettings .userOptions ul li .logoutIcon {
        width: 0.9rem;
        height: 0.9rem;
    }
    .userSettings .userOptions ul li:nth-of-type(1) {
        display: block;
    }
    .userSettings .userOptions ul li:nth-of-type(2) {
        border-top: 1px solid var(--border-nav);
    }
}

@media (max-width: 768px) {
    .Title {
        font-size: 30px;
    }
}

@media (max-width: 570px) {
    .userSettings p {
        display: none;
    }
    .userSettings .userOptions {
        top: 2.2rem;
        font-size: 0.7rem;
        width: 7.5rem;
    }
    .userSettings .userOptions ul li .logoutIcon {
        width: 0.9rem;
        height: 0.9rem;
    }
    .userSettings .userOptions ul li:nth-of-type(1) {
        display: block;
    }
    .userSettings .userOptions ul li:nth-of-type(2) {
        border-top: 1px solid var(--border-nav);
    }
}