@font-face {
    font-family: BellotaText;
    src: url(../../public/BellotaText-Regular.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(./Raleway-VariableFont_wght.ttf);
}

.animes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

h2 {
    margin: 0;
}

.animeBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 60px 2rem 60px;
}

.animeName {
    max-width: 50%;
    overflow-x: hidden;
    font-size: 35px;
    font-weight: 300;
    font-family: Raleway;
}

.boxSearchBar {
    display: flex;
    align-items: center;
    padding: 6px;
    border-radius: 10px;
    border: 2px solid #EFEFF1;
    background-color: white;
}

.searchBar {
    background-color: white;
    border: 0;
    outline: none;
}

.searchIcon {
    transform: scale(1.15);
    color: #272D37;
}

.closeIcon {
    cursor: pointer;
}