@font-face {
    font-family: BellotaText;
    src: url(../../public/BellotaText-Regular.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(./Raleway-VariableFont_wght.ttf);
}

.animes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.animeBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: calc(2rem + 21px) 60px 2rem 60px;
}

.animeName {
    overflow-x: hidden;
    font-size: 35px;
    font-weight: 300;
    font-family: Raleway;
    margin: 0;
}

.boxSearchBar {
    display: flex;
    align-items: center;
    padding: 6px;
    border-radius: 10px;
    border: 2px solid var(--border-nav);
    background-color: var(--background-nav);
}

.searchBar {
    background-color: var(--background-nav);
    border: 0;
    outline: none;
    color: var(--text);
}

.searchIcon {
    transform: scale(1.15);
    color: var(--text);
}

.closeIcon {
    cursor: pointer;
}