@font-face {
    font-family: Raleway;
    src: url(./Raleway-VariableFont_wght.ttf);
}

.TopAnimes .animes {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0;
    border-radius: 1.5rem;
    overflow: hidden;
    border: solid var(--border-nav) 1px;
    border-bottom: 0;
    width: 80%;
    margin-bottom: 100px;
    /* flex-wrap: wrap; */
}

.TopAnimes .text {
    font-size: 35px;
    font-weight: 300;
    font-family: Raleway;
    margin: 0;
    margin: 2rem 0 2rem 5%;
}