.to-watch a {
    color: var(--text);
    text-decoration: none;
}

.towatch-animes figure {
    cursor: auto;
}

.to-watch .nothing-to-watch {
    text-align: center;
}

.to-watch .nothing-to-watch .link {
    text-decoration: underline;
}