.menu {
    position: relative;
    margin: 0 auto;
    width: 70%;
    border: 2px solid var(--border-nav);
    border-radius: 15px;
    background-color: var(--background-nav);
}

.menu ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}

.menu li {
    display: inline;
    width: 15%;
    position: relative;
    margin: 0 auto;
    padding: 1em 0;
    text-align: center;
    font-size: 1.3em;
}

.menu a {
    text-decoration: none;
    color: var(--text);
}

.menu .selected {
    color: var(--highlight);
}

.menu .highlight {
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    background-color: var(--highlight);
}