@keyframes show1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes show2 {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.showinfoanime {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    min-height: 630px;
}

.showinfoanime .back {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.658);
    animation: show1 0.7s;
}

.showinfoanime .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.showinfoanime .info {
    width: 950px;
    background-color: var(--background-nav);
    border-radius: 20px;
    padding-right: 2rem;
    text-align: justify;
    display: flex;
    gap: 2rem;
    animation: show2 0.3s ease-out;
}

.showinfoanime .info .closeButton {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: var(--background-nav);
    border: 0;
    cursor: pointer;
    padding: 0;
    z-index: 2;
    width: 1.7rem;
    height: 1.7rem;
    opacity: 0.5;
    transition: opacity 0.15s;
}

.showinfoanime .info .closeButton:hover {
    opacity: 0.9;
}

.showinfoanime .info .closeButtonIcon {
    width: 100%;
    height: 100%;
    transform: scale(0.7);
    color: var(--text);
}

.showinfoanime .info figure {
    height: 600px;
    margin: 0 0 0 -1px;
}

.showinfoanime .info img {
    max-width: 440px;
    height: 100%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.showinfoanime .info .BackgroundImage {
    border-radius: 20px 0 0 20px;
}

.showinfoanime .data {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.showinfoanime .data .sinopse {
    max-height: 250px;
    overflow-y: scroll;
    padding-right: 0.5rem;
}

.showinfoanime .data h2 {
    padding-right: 0.5rem;
}

.showinfoanime a {
    color: var(--text);
}

.showinfoanime .bottom-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
}

.showinfoanime .score {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.2rem;
}

.showinfoanime .adds {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.showinfoanime .adds button {
    color: white;
    border: 1px solid var(--border-nav);
    border-radius: 20px;
    background-color: var(--background-nav);
    cursor: pointer;
    padding: 1rem;
    font-size: 1.3rem;
}

.showinfoanime .adds .watch {
    background-color: #4e84fa;
}

.showinfoanime .adds .watched {
    background-color: #574EFA;
}

@keyframes infoDesapear {
    0% {
        opacity: 1;
    }
    95% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.showinfoanime .alert {
    position: absolute;
    text-align: center;
    bottom: 5px;
    margin: 0;
    animation: infoDesapear 1s 4s forwards;
}

.showinfoanime .inserted {
    color: green;
}

.showinfoanime .not-inserted {
    color: #B02817;
}

@media (max-width: 1000px) {
    .showinfoanime .modal {
        width: min(80vw, auto);
        top: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .showinfoanime .info {
        flex-direction: column;
        align-items: center;
        padding-left: 2rem;
        width: min(80vw, 500px);
        gap: 0rem;
    }
    .showinfoanime .data .sinopse {
        padding-right: 0;
        max-height: 200px;
    }
    .showinfoanime .data .trailer {
        text-align: left;
    }
    .showinfoanime .data h2 {
        margin-top: 0;
        padding-right: 0;
    }
    .showinfoanime .info figure {
        /* backdrop-filter: blur(2px); */
        /* height: min(20vh, 300px); */
        /* min-height: 200px; */
        height: 300px;
        z-index: 1;
    }
    .showinfoanime .info img {
        /* margin-top: 1rem; */
        border-radius: 0;
    }
    .showinfoanime .info h2 {
        text-align: center;
    }
    .showinfoanime .info .closeButton {
        border-radius: 50%;
    }
    .showinfoanime .info .BackgroundImage {
        width: 115%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .showinfoanime .info .BackgroundImageBlur {
        width: 100%;
        backdrop-filter: blur(4px);
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1000px) and (max-height: 870px) {
    .showinfoanime .modal {
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .showinfoanime .info figure {
        display: none;
    }
    .showinfoanime .info img {
        display: none;
    }
}